.sp-submenu .menu{
  list-style: none;
  margin: 0;
}

.submenu-container{
  height: 37px;
}

.sp-submenu .menu li{
  display: inline-block;
  position: relative;
  padding: 0 0 10px;
  margin: 0 10px -21px;
  line-height: 36px;
  font-size: 13px;
}
.sp-megamenu-parent > li:last-child{
  margin: 0 0px 0 20px;
}
.sp-submenu .menu li a{
  color:white;
}

#user-menu{
  font-size: 25px;
  display: inline-block;
  color: white;
  float:right;
  @media (max-width: 991px) {
       display: none !important;
  }
}

.submenu-container .sp-module{
  display: inline-block;
  float: right;
}

.sp-copyright{
  display: block;
  text-align: center;
}

.element-invisible {
  display: none!important;
}

.sp-module-border-none{
  border: none!important;
}

/* -------------------------------------------------------------
   Pure CSS Toggle Switch with :checked
   ---------------------------------------------------------- */
.onoffswitch {
  position: relative;
  display: inline-block;
  width: 100px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.anual-span,.mensual-span{
  color:#08ae99 !important;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #08ae99;
  border-radius: 0px;
  margin: 0;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 36px; padding: 0; line-height: 32px;
  font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #FFFFFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #FFFFFF; color: #08ae99;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 50px;
  margin: 0px;
  background: #08ae99 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 49px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #08ae99 !important;
}
/* ------------------------------------------------------------------------- */
.onoffswitch-2 {
  position: relative;
  display: inline-block;
  width: 100px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.anual-2-span,.mensual-2-span{
  color:#044f96 !important;
}
.onoffswitch-2-checkbox {
  display: none;
}
.onoffswitch-2-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #044f96;
  border-radius: 0px;
  margin: 0;
}
.onoffswitch-2-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-2-inner:before, .onoffswitch-2-inner:after {
  display: block; float: left; width: 50%; height: 36px; padding: 0; line-height: 32px;
  font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.onoffswitch-2-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #FFFFFF; color: #FFFFFF;
}
.onoffswitch-2-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #FFFFFF; color: #666666;
  text-align: right;
}
.onoffswitch-2-switch {
  display: block;
  width: 50px;
  margin: 0px;
  background: #044f96;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 49px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-2-checkbox:checked + .onoffswitch-2-label .onoffswitch-2-inner {
  margin-left: 0;
}
.onoffswitch-2-checkbox:checked + .onoffswitch-2-label .onoffswitch-2-switch {
  right: 0px;
  background-color: #044f96;
}
/*-----------------------------------------------------------*/
.mensual-span,.mensual-2-span {
  bottom: 10px;
  position: relative;
  right: 10px;
  font-size: 30px;
}
.anual-span,.anual-2-span {
  bottom: 10px;
  position: relative;
  left: 10px;
  font-size: 30px;
}

.toggle-custom {
    width: 315px;
}

@media (max-width: 1200px){
  .mensual-span,.mensual-2-span,.anual-span,.anual-2-span {
  	font-size: 20px;
  }
  .toggle-custom {
    margin: 0 auto !important;
    width: 255px !important;
}
}
#sp-right .menu-social-blog ul {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
#sp-right .menu-social-blog ul > li {
  float: left;
  margin: 0px 15px;
}
#sp-right .menu-social-blog ul > li > a:before {
  font-size: 40px;
}

.article-details .page-header {
  display: none;
}

.icon-search {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\f002";
}

form.form-search .btn {
  padding: 15px 17px;
  float: left;
  border-radius: 0;
}
@media (max-width: 320px) {
  form.form-search #mod-finder-searchword121 {
    float: left;
    max-width: 180px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  form.form-search #mod-finder-searchword121 {
    float: left;
    max-width: 220px;
  }
}
@media (min-width: 768px) {
  form.form-search #mod-finder-searchword121 {
    float: left;
    max-width: 236px;
  }
}

.tab-2-content{
  display:none;
}

/*-------------------------CAROUSEL CUSTOM----------------------------*/
.sppb-carousel-indicators li{
  width: 15px !important;
  height: 15px !important;
}
.sppb-carousel-indicators .active{
  width: 17px !important;
  height: 17px !important;
}

@media (min-width: 320px) and (max-width: 991px) {
  .sppb-carousel-indicators li{
       display: none !important;
    }
}
/*--------------------------------------------------------------------*/

/*-------------------------CAROUSEL CUSTOM----------------------------*/
.sppb-nav-modern>li{
  margin-right: 3px !important;
}

@media (max-width: 768px){
  .sppb-nav-modern>li{
       width: 23.55% !important;
    }
}

@media (max-width: 575px){
  .sppb-addon-tab .sppb-nav-modern li a .sppb-tab-icon i{
    font-size: 40px !important;
  }
  .sppb-addon-tab .sppb-nav-modern li a{
    font-size: 13px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
/*--------------------------------------------------------------------*/

/*-------------------------layaout CUSTOM----------------------------*/
@media (max-width: 576px){
  .sppb-row-container {
      max-width: 625px;
  }
}

@media (min-width: 992px) and (max-width: 1328px) {
  .sppb-carousel-caption h2{
       font-size: 45px !important;
    }
  .sppb-carousel-caption .sppb-carousel-content{
    margin:0px 120px 60px 120px !important;
  }
  
  #after-logo{
    display:none !important;
  }
  #sp-menu, .submenu-container{
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
  .sp-megamenu-parent li a{
    font-size:14px !important;
  }
  .sp-submenu>.col-lg-3:last-child {
    display: none;
	}
}
/*--------------------------------------------------------------------*/

/*-------------------------PHOCA DOWNLOAD-----------------------------*/
.pd-buttons, .pdtop, .pd-ctitle{
  display: none;
}

#phoca-dl-category-box{
  margin-top:-50px;
}

#phoca-dl-category-box div[class^='pd-document'] {
    background: none !important;
  padding-left: 0px;
}
#phoca-dl-category-box div.chzn-container{
  margin-bottom: 0px;
}

#phoca-dl-category-box div[class^='pd-document'] a {
  font-family: Montserrat !important;
}
/*--------------------------------------------------------------------*/
@media (max-width: 767px){
.submit-newsletter button{
  padding: 11px !important;
}
  .linearicons-chevron-left:before,.linearicons-chevron-right:before {
    font-weight: 1000;
}
  .sppb-carousel .sppb-carousel-arrow{
    border: 0 !important;
  }
}

.slicknav_menu > ul ul li{
  list-style-type: none;
  border-top: 1px dotted #e8e9e9;
}

.slicknav_menu > ul > li .icon {
    bottom: 40px !important;
}

@media (max-width: 767px){
  .layout-blog #sp-section-1{
    display: none;
  }
  .view-article #sp-section-1{
    display: none;
  }
}